.about-footer {
  background-color: rgba(53, 60, 101, 1);
  display: flex;
  justify-content: space-evenly;

  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-location {
  width: 370px;
  text-align: center;
}
.footer-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding-bottom: 29px;
}
.footer-text {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 21px;
}
.footer-social {
  width: 370px;
  text-align: center;
}
.footer-activebox {
  width: 370px;
  text-align: center;
  flex-wrap: wrap;
}
.footer-link {
  display: flex;
  justify-content: space-evenly;
}
// .linkfot {
//   padding-right: 27px;
// }
// .footer-link:last-child {
//   padding-right: 0;
// }
.footer-desc {
  background-color: rgba(44, 49, 84, 1);
  display: flex;
  justify-content: center;
}
.footer-info {
  text-align: center;
  width: 370px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-info p {
  color: rgba(108, 114, 121, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.spanfooter {
  color: rgba(255, 255, 255, 1);
}
