.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.works-link {
  background-image: url(../bgimg/2-1.jpg);
  width: 25%;
  height: 370px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  border: 2px solid rgba(255, 255, 255, 1);
  background-size: cover;
  z-index: 2;
  transition: 0.7s;
}

.works-link :hover {
  .works-text {
    display: block;
    z-index: 1;
  }
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 67, 67, 0.8);
    z-index: 100;
  }
}

.works-link a {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.works-text {
  display: none;
}
.works-text h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.works-text p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.linksvg {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}
.fa-brand {
  font-size: 30px;
  color: rgba(198, 203, 205, 1);
  border: 1px solid rgba(198, 203, 205, 1);
}
